
#quiz   {
    text-align: center;
    background-image: url("../images/usamap.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 60%;
    
    
}

body  {
    font-size: larger;
    font-weight: bolder;

}


